@import 'src/styles/_colors';
@import '../../../styles/1variables.scss';
@import 'src/styles/2mixins';

.security-page {
  background-color: map-get($bluePalette, 'malibu');

  .content-block {
    height: auto;
    padding: 1rem 2rem;
    position: relative;
    z-index: 0;
  }

  h1,
  a {
    color: map-get($greyPalette, 'ebony-clay');
  }

  h1 {
    font-family: $average-sans;
    font-size: 2.8rem;
    margin: 0 0 1rem 0;
  }

  a {
    font-family: $average-sans;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @include respondto(iphone5) {
      font-size: 1.4rem;
    }
  }
}

.sign-in-bk {
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 6vw;
  position: relative;

  button {
    margin-bottom: 5.5rem;

    @include respondto(iphone5) {
      margin-bottom: 3rem;
    }

    @include respondto(phoneSmHeight) {
      margin-bottom: 1rem;
    }
  }

  .bottom-section {
    a {
      @include respondto(iphone5) {
        display: block;
      }
    }
  }
}
