.login-account {
  height: 100%;

  .header-info {
    font-size: 1.6rem;
    text-align: center;
  }

  button {
    margin-bottom: 10vh;
  }

  img {
    height: 35vh;
  }

  .content-wrap {
    height: 50vh;
  }
}