@import './colors';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html {
  font-size: 62.5%;
  line-height: 1.4 !important;
  letter-spacing: -0.1px !important;
}

body {
  font-size: 14px;
  font-family: 'Average Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body [class^='mat-']:not(mat-icon),
body [class*='mat-']:not(mat-icon) {
  font-family: 'Average Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

a {
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
  overflow-y: hidden;
}

.relative {
  position: relative;
}

.white-overlay {
  position: relative;
  top: 0;
  width: 100%;

  &:before {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    border-radius: 0.5rem;
    content: '';
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.MuiContainer-root {
  padding: 0 !important;
}

.font-bold {
  font-weight: bold;
}

.general-form {
  input,
  textarea {
    background: $white;
    font-size: 1.4rem;
  }

  .MuiOutlinedInput-notchedOutline,
  textarea {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.2);
  }

  label {
    font-size: 1.6rem;
  }

  .MuiTextField-root {
    margin: 1rem 0 0 0;
  }

  .MuiInputBase-root {
    background: $white;
  }

  textarea {
    padding: 18.5px 14px;
    resize: none;
  }
}

@include placeholder {
  font-family: $average-sans;
  font-size: 1.6rem;
}

.social-media-links {
  a,
  .social-media-link {
    background-color: $white;
    border-radius: 100%;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.3);
    height: 7rem;
    margin-bottom: 4rem !important;
    width: 7rem;

    @include respondto(phoneSmHeight) {
      margin-bottom: 1rem !important;
    }

    @include respondto(iphone5) {
      height: 5rem;
      width: 5rem;
    }

    @include flex($justify: center);

    &:not(:last-of-type) {
      margin-right: 4rem;
    }
  }

  &.three-items {
    a {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
}

.no-margin {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.radius100 {
  border-radius: 100%;
}

//colors
.athens-gray-bk {
  background-color: map-get($greyPalette, 'athens-gray');
}

.yellow-border {
  border: 5px solid map-get($yellowPalette, 'sun');
}

.blue-gradient {
  background: rgb(40, 190, 202);
  background: linear-gradient(0deg, rgba(40, 190, 202, 1) 0%, rgba(19, 118, 190, 1) 100%);
}

.light-blue-gradient {
  background: rgb(39, 189, 201);
  background: linear-gradient(285deg, rgba(39, 189, 201, 1) 0%, rgba(39, 189, 201, 1) 100%);
}

.bottom-section {
  span,
  a {
    color: map-get($greyPalette, 'ebony-clay');
  }

  span {
    font-family: $average-sans;
    font-size: 1.5rem;

    @include respondto(iphone5) {
      font-size: 1.4rem;
    }
  }

  a {
    font-family: $average-sans;
    margin-bottom: 0;
  }
}

.top-bar {
  height: 6.2rem;
  padding: 0 1.5rem;

  h1 {
    color: map-get($greyPalette, 'ebony-clay');
    font-family: $average-sans;
    font-size: 2.4rem;
    margin: 0 0 1rem 0;
  }
}

.btn-secondary {
  background-color: $white !important;
  color: map-get($greyPalette, 'ebony-clay') !important;
}

.avatar-image {
  border-radius: 100%;
  height: 5.9rem;
  width: 5.9rem;

  &.blue {
    background-color: map-get($bluePalette, 'viking');
  }

  &.orange {
    background-color: map-get($yellowPalette, 'sun');
  }
}
