@import 'src/styles/_colors';
@import '../../../styles/1variables.scss';
@import 'src/styles/2mixins';

.forgot-pass-bk {
  background-size: cover;
  background-color: map-get($bluePalette, 'denim');
  height: 100%;
  width: 100%;
  padding: 6vw;
  position: relative;

  .content-block {
    margin-top: 2vh;
    padding-bottom: 2rem;
  }
}

.email-success-message {
  animation: fadeIn 1s;

  p {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Average Sans';
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
