.forgot-pass-bk {
  background: url('../../../assets/images/house.jpg') no-repeat 0 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 6vw;
  position: relative;

  .content-block {
    margin-top: 10vh;
    padding-bottom: 2rem;
  }
}

.email-success-message {
  animation: fadeIn 1s;

  p {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'PacificoRegular';
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
