@import 'src/styles/_colors';
@import '../../../styles/1variables.scss';
@import 'src/styles/2mixins';

.create-account-bk {
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 6vw;
  position: relative;

  button {
    margin: 2rem 0 3rem 0;
    padding: 0.8rem 3rem;

    @include respondto(phoneSmHeight) {
      margin: 1rem 0;
    }
  }
}
